@using be

@model IEnumerable<UserApp>

@{
	ViewBag.Title = "All Users";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

<h1>All Users</h1>

@if (Model.Any())
{
	@foreach (var user in Model)
   {
	    <div class="card mb-3">
	    	<div class="card-header">
	    		RoleId = @user.Id
	    	</div>
	    	<div class="chat-body">
	            <h5 class=card-title>@user.UserName</h5>
	    	</div>
	    	<div class="card-footer">
	    		<a class="btn btn-primary">Edit</a>
	    		<a class="btn btn-primary">Delete</a>
	    	</div>
	    
	    </div>
   }
	   <a asp-action="Register" asp-controller="Account" class="btn btn-primary" style="width:auto">
				Add a new user
			</a>
}
else
{
		<div class="card">
		<div class="card-header">
			<h2>No users created yet</h2>
		</div>
		<div class="card-body">
			<h5 class="title">
				Use the button bellow to create a user 
			</h5>
		</div>
		<div class="card-footer">
			<input type="submit" value="update" class="btn btn-primary" style="width:auto" />
			<a asp-action="Register" asp-controller="Account" class="btn btn-primary" style="width:auto">
				Create Role
			</a>
		</div>
	</div>
}

